<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>{% load static %}
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1"> <link rel="stylesheet" href={% static 'css/pleasethisbaseintro.css' %}>
    <title></title>
  </head>
  <body>
    {% if user == None %}

    {% else %}

      {% if user.is_login and user.is_blocked == False %}
    <div class="menu-btn">
       <i class="fas fa-bars fa-2x"></i>
     </div>

     <div class="container">
       <!-- Nav -->
       <nav class="main-nav">
         <i class="fa fa-grav">JamStub</i>

         <ul class="main-menu">
           <li><a href={% url 'home' %}>Home</a></li>
            <li><a href={% url 'searchcode' %}>Search</a></li>
             <li><a href={% url 'discover' %}>Discover</a></li>
           {% if user.is_editor or user.is_owner %}
           <li><a href={% url 'addpost' %}>Post</a></li>
           <li><a href={% url 'tagadd' %}>Tag</a></li>

           {% endif %}
           <li><a href={% url 'getcode' %}>Generate</a></li>






           </ul>

         <ul class="right-menu">
           {% if user.is_owner %}

           <li><a href={% url 'request' %}>Requests</a></li>
           {% endif %}
           <li>
             <a href={% url 'profile' %}>
               Profile
             </a>
           </li>
           <li>
             <a href={% url 'safe' %}>
               Safe
             </a>
           </li>
           <li>
             <a href={% url 'logout' %}>
               Logout
             </a>
           </li>
         </ul>
       </nav>





       {% block body_block %}
       {% endblock %}























       <section class="links">
         <div class="links-inner">
           <ul>
             <li><h3>Organisations</h3></li>
             {% for locatio in company %}
             <form class="" action={% url 'searchcode' %} method="POST">
               {% csrf_token %}
               <input  name="searchQueryInput" type="hidden" value={{locatio.tagtext}}>
             <li><button  type="submit" class="buttonToLink">{{locatio.tagtext}}</button></li>
           </form>
             {% endfor %}
           </ul>
           <ul>

             <li><h3>Top Influencers</h3></li>

             {% for locatio in actor %}
             <form class="" action={% url 'searchcode' %} method="POST">
               {% csrf_token %}
               <input  name="searchQueryInput" type="hidden" value={{locatio.tagtext}}>
             <li><button  type="submit" class="buttonToLink">{{locatio.tagtext}}</button></li>
           </form>
             {% endfor %}
           </ul>
           <ul>
             <li><h3>Activity</h3></li>

             {% for locatio in position %}
             <form class="" action={% url 'searchcode' %} method="POST">
               {% csrf_token %}
               <input  name="searchQueryInput" type="hidden" value={{locatio.tagtext}}>
             <li><button  type="submit" class="buttonToLink">{{locatio.tagtext}}</button></li>
           </form>
             {% endfor %}
           </ul>
           <ul>
             <li><h3>Genre</h3></li>
             {% for locatio in genre %}
             <form class="" action={% url 'searchcode' %} method="POST">
               {% csrf_token %}
               <input  name="searchQueryInput" type="hidden" value={{locatio.tagtext}}>
             <li><button  type="submit" class="buttonToLink">{{locatio.tagtext}}</button></li>
           </form>
             {% endfor %}
           </ul>
           <ul>
             <li><h3>Category</h3></li>
             {% for locatio in category %}
             <form class="" action={% url 'searchcode' %} method="POST">
               {% csrf_token %}
               <input  name="searchQueryInput" type="hidden" value={{locatio.tagtext}}>
             <li><button  type="submit" class="buttonToLink">{{locatio.tagtext}}</button></li>
           </form>
             {% endfor %}
           </ul>
           <ul>
             <li><h3>Locations</h3></li>
             {% for locatio in location %}
             <form class="" action={% url 'searchcode' %} method="POST">
               {% csrf_token %}
               <input  name="searchQueryInput" type="hidden" value={{locatio.tagtext}}>
             <li><button  type="submit" class="buttonToLink">{{locatio.tagtext}}</button></li>
           </form>
             {% endfor %}

           </ul>
         </div>
       </section>


{% else %}
<header class="jk">
  <h2>Your account is blocked for the moment</h2>
  <p>
    Your verification is pending or account is suspended because of inappropriate actions.<br>
    if you think we made a mistake kindly reach us at <br>
    Email: <a id="l1" href="#">vineet811@gmail.com</a>
  </p>

</header>
{% endif %}
{% endif %}
    </body>

    </html>
