{% extends 'app1/baseintro.html' %}
{% block body_block %}{% load static %}<link rel="stylesheet" href={% static 'css/commentbox.css' %}>
    {% if user == None %}

    {% else %}


    <!-- CSS only -->


    <div class="comment-section">
      <div class="container">
        <div class="review">
          <h2 class="R-title">Comments</h2>
          <form class="" action="" method="POST">
            {% csrf_token %}
            {{msg}} <br>
            <input type="text" name="comment" placeholder="Write your comment" value="">
            <button type="submit" class="btn btn-outline-dark">Add</button>
          </form>
          <div class="comment-section">
{% for comment in comments %}
            <div class="media media-review">
              <div class="media-user"><img src={{comment.creator.prof_pic.url}} alt=""></div>
              <div class="media-body">
                <div class="M-flex">
                  <h2 class="title"><span> @{{comment.post.creator.username}} </span>Posted on: {{comment.date_created}}</h2>

                </div>
                <div class="description">{{comment.text}}</div>
              </div>
            </div>
{% endfor %}


          </div>

        </div>
      </div>
    </div>




<br><br>




    {% endif %}


    {% endblock %}
