{% extends 'app1/baseintro.html' %}
{% block body_block %}{% load static %}<link rel="stylesheet" href={% static 'css/getcode.css' %}>
    {% if user == None %}

    {% else %}

{% if show == True %}
    <form class="" action="" method="POST">
      {% csrf_token %}

    <header class="ok">
      <h2>Generate Code</h2>
      <p>
      Click on "Get" to generate a code for inviting your friends
      </p>
      <button type="submit" class="btn" name="button" >
        Get
      </button>
    </header>

</form>


{% if code != "" %}
<header class="dook">
  <h2></h2>
  <p>

  </p>
  <h2>{{code}}</h2>
</header>
{% endif %}


{% else %}
<header class="ok">
  <h2>You have an unused existing invitation code</h2>
  <p>
    You can generate a new code only when your existing code gets used
  </p>

</header>


<header class="dook">
  <h2></h2>
  <p>

  </p>
  <h2>Code: {{getc.text}}</h2>
</header>

{% endif %}


        {% endif %}


    {% endblock %}
