{% extends 'app1/baseintro.html' %}
{% block body_block %}{% load static %}
    {% if user == None %}

    {% else %}
<link rel="stylesheet" href={% static 'css/somehome.css'  %}>




       <!-- Showcase -->

       <section class="stabbox">
         <div class="content">
           <h2>JAMSTUB TWITTER</h2>
           <p>Let's Create a community</p>
             <a href="https://twitter.com/jamstub?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @jamstub<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

             </a>
         </div>
       </section>

       <!-- Home cards 1 -->
       <section class="home-cards">
         {% for item in showlist1 %}
         <div>
           <img height="150px" width="250px" src={{item.imagefile.url}} alt="">
           <h3>{{item.desc}}</h3>
           <p>
             @{{item.creator.username}}
           </p>
           <a href={% url 'postdetail' pk=item.id %}>Watch Now <i class="fas fa-chevron-right"></i></a>
         </div>


  {% endfor %}
</section>



       <section class="ibox">
         <div class="content">
           <h2>JAMSTUB INSTAGRAM</h2>
           <p>Joined for Free Speech</p>
             <a href="https:/instagram.com/xjamstub" class="btn">
               Follow @JAMSTUB <i class="fas fa-chevron-right"></i>
             </a>
         </div>
       </section>

       <!-- Home cards 1 -->
       <section class="home-cards">
         {% for item in showlist2 %}
         <div>
           <img height="150px" width="250px" src={{item.imagefile.url}} alt="">
           <h3>{{item.desc}}</h3>
           <p>
             @{{item.creator.username}}
           </p>
           <a href={% url 'postdetail' pk=item.id %}>Watch Now <i class="fas fa-chevron-right"></i></a>
         </div>


  {% endfor %}
</section>




       <section class="lbox">
         <div class="content">
           <h2>JAMSTUB LINKEDIN</h2>
           <p>TO create Opportunities</p>
             <a href="https:/linkedin.com/in/jamstub-jinxcorp" class="btn">
               Join Now <i class="fas fa-chevron-right"></i>
             </a>
         </div>
       </section>

       <!-- Home cards 1 -->
       <section class="home-cards">
         {% for item in showlist3 %}
         <div>
           <img height="150px" width="250px" src={{item.imagefile.url}} alt="">
           <h3>{{item.desc}}</h3>
           <p>
             @{{item.creator.username}}
           </p>
           <a href={% url 'postdetail' pk=item.id %}>Watch Now <i class="fas fa-chevron-right"></i></a>
         </div>


  {% endfor %}
</section>












    {% endif %}


{% endblock %}
