{% extends 'app1/baseintro.html' %}
{% block body_block %}{% load static %}<link rel="stylesheet" href={% static 'css/aweprofile.css' %}>
    {% if user == None %}

    {% else %}
{% if show == True %}
    <header class="gray">

<div class="container">

  <div class="profile">

    <div class="profile-image">

      <img class="profile-picture-image" src={{user.prof_pic.url}} alt="Picture" height="200px" width="200px">

    </div>

    <div class="profile-user-settings">

      <b> <h1 class="profile-user-name">{{user.username}}</h1> </b>

      <a href={% url 'update' %}><button class="btn profile-edit-btn">Edit Profile</button></a>

      <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

    </div>

    <div class="profile-stats">

      <ul>
        <li><span class="profile-stat-count">{{user.gender}}</span> Gender</li>
        <li><span class="profile-stat-count">{{user.interested}}</span> Interested</li>

      </ul>

    </div>

    <div class="profile-bio">

      <p><span class="profile-real-name">{% if user.email != None %}Email: {{user.email}} {% else %} Email not available {% endif %}</span> <br>
        {% if user.desc != None %}Desc: {{user.desc}} {% else %} Description is not available {% endif %}</p>

    </div>

  </div>
  <!-- End of profile section -->

</div>
<!-- End of container -->

</header>

<main>

<div class="container">

  <div class="gallery">
    {% for item in watchlist %}
    <a href={% url 'postdetail' pk=item.watch.id %}>

    <div class="gallery-item" tabindex="0">

 <img id="proc" src={{item.watch.imagefile.url}}  height="300px" width="250px" class="gallery-image" alt="">

      <div class="gallery-item-info">



      </div>

    </div>
    {{item.watch.views}} Views <br>
    {{item.watch.likers.count}} Likes
  </a>

{% endfor %}





  <!-- End of gallery -->


</div>
<!-- End of container -->
</div>
</main>
{% else %}
<br><br><br>
<h3>Watch Some of our content to Unlock your profile</h3>
<br>
{% endif %}


    {% endif %}



{% endblock %}
