{% extends 'app1/baseintro.html' %}
{% block body_block %}{% load static %}
<link rel="stylesheet" href={% static 'css/reqdetail.css' %}>
    {% if user == None %}
    {% else %}



{% if user.is_editor %}
    <div class="background">
      <div class="container">
        <div class="screen">
          <div class="profile-detail">
            <div class="profile-follow">
              <form class="" action="" method="POST">
                {% csrf_token %}

              <button name="add" type="submit" class="profile-follow-btn">Add</button>
              <button name="remove" type="submit" class="profile-follow-btn">X</button>
              </form>
            </div>
            <div class="profile-picture">
            <img class="profile-picture-image" src={% static 'images/'%}{{prof_pic}} alt="Picture">
            </div>
            <div class="profile-name">@{{req.account.username}}</div>
            <div class="profile-location">
              &nbsp;&nbsp; Recommended by <a href={% url 'customerdetail' pk=req.account.invited_by.id %}>@{{req.account.invited_by.username}}</a>
            </div>
            <div class="profile-description">{{req.account.desc}}</div>
          </div>
          <div class="profile-stats">
            <div class="profile-stat profile-likes">
              <div class="profile-stat-value">{{req.account.gender}}</div>
              <div class="profile-stat-desc">GENDER</div>
            </div>
            <div class="profile-stat profile-followers">
              <div class="profile-stat-value">{{req.account.interested}}</div>
              <div class="profile-stat-desc">INTERESTED</div>
            </div>
            <div class="profile-stat profile-following">
              <div class="profile-stat-value">NADV</div>
              <div class="profile-stat-desc">OMEGA</div>
            </div>
          </div>
          <div class="profile-albums">
            <div class="profile-albums-header">
              <div class="profile-albums-title">PROJECTS</div>
              <div class="profile-albums-menu">
                <i class="fa fa-ellipsis-h"></i>
              </div>
            </div>
            <div class="profile-albums-body">
              <div class="profile-albums-list">
                <div class="profile-album">
                  <div class="profile-album-image" id="album-1"></div>
                  <div class="profile-album-title">NADV</div>
                </div>
                <div class="profile-album">
                  <div class="profile-album-image" id="album-2"></div>
                  <div class="profile-album-title">NADV</div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>










{% endif %}



    {% endif %}
{% endblock %}
