{% extends 'app1/baseintro.html' %}
{% block body_block %}{% load static %}<link rel="stylesheet" href={% static 'css/searchcode.css' %}>
    {% if user == None %}

    {% else %}







{% if neem == 0 %}
<h3>Your Safe List is Empty</h3>
<br>
<h4>Go to <a id="res" href={% url 'discover' %}>Discover</a> to watch some content</h4>
{% else %}


<section class="hero-section">
  <div class="card-grid">
      {% for post in usersafelist %}
    <a class="card" href={% url 'postdetail' pk=post.safefile.id %}>

      <div class="card__background" style="background-image: url({{post.safefile.imagefile.url}})"></div>

    </a>

    {% endfor %}
  <div>
</section>











{% endif %}

<style media="screen">
  #res{
    color:blue;
  }
</style>











{% endif %}


{% endblock %}
