<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
      <link rel="stylesheet" href={% static 'css/customersignup.css' %}>
    <title></title><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>


<form class="" action="" method="POST">
  {% csrf_token %}




    <div class="searchBox">

               <input class="searchInput" type="text" name="entrycouponcode" placeholder="Enter Your Invite Code" maxlength = "10" >
               <input type="hidden" name="hidden" value="hidden">
               <button class="searchButton" name="entrycode" type="submit">
                   <i class="fa fa-plus fa-3x"></i>

               </button>

           </div>

           <p id="h4">{{msg}}</p>


</form>








  </body>
</html>
