
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href={% static 'css/forgotpassword.css' %}>
    <title></title><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>


<body>


  <div class="container">
    <form class="" action="" method="POST">
      {% csrf_token %}


        <div class="login">
           <div class="container">
                <h1>Forgot Password?</h1>

                <h4>{{msg}}</h4>

                <input name="typedusername" type="text" placeholder="Username">


                <button name="login" type="submit">Initiate Request</button>


                <div class="clearfix"></div>
                <span class="copyright">&copy; JINXCORP X VINMASTZ</span>
           </div>
        </div>
        </form>
        </div>
        </body>
        </html>
