{% extends 'app1/baseintro.html' %}
{% block body_block %}{% load static %} <link rel="stylesheet/less" href={% static 'css/update.css' %}>
<script src="https://cdn.jsdelivr.net/npm/less@4.1.1" ></script>

    {% if user == None %}

    {% else %}



    <form class="form" enctype="multipart/form-data" name="register" method="POST">
      {% csrf_token %}
      <h4>{{msg}}</h4>
    <h2>Update your Profile</h2>
  <!--  <div class="file-upload">
      <div class="file-select">
    Change Profile Pic:

        <input type="file" name="Filechoose" class="btn">
      </div>
    </div> -->
    <p type="Change Password:"><input name="password" type="password" placeholder="Enter your password here..." ></input></p>
    <p type="Confirm Changed Password:"><input type="password" name="cpassword" placeholder="Recheck your password.."></input></p>
    <p type="Desc:"><input name="desc"  placeholder="What would you like to tell about yourself.."></input></p>
    <p type="Email"><input name="email" type="email" placeholder="Enter your email id"></input></p>


    <style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked +   #m{
  background-color: #2196F3;
}
input:checked + #f{
  background-color: #fa4bc0;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>


<br><br>



Gender:<br>
<label class="switch">
  <input type="radio" name="gender"  value="MALE">
  <span class="slider round"id="m"></span>
</label>


<label class="switch">
<input type="radio" name="gender" value="FEMALE">
  <span class="slider round" id="f"></span>
</label>

<hr><br>
Interested:<br>
<label class="switch">
<input type="radio" name="interested" value="MALE">
  <span class="slider round" id="m"></span>
</label>


<label class="switch">
<input type="radio" name="interested" value="FEMALE">
  <span class="slider round" id="f"></span>
</label>
<br>

<button type="submit" name="wantregister" >Update</button>


    <br><br>
    </form>










    {% endif %}


  {% endblock %}
